* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(135deg, #eef2f3, #ffffff);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #fff;
    border-radius: 20px;
    margin: 20px;
}

.logo img {
    height: 20px;

    justify-content: space-between;
   
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.btn {
    padding: 10px 22px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text span {
    color: #4a00e0;
}

.hero-text p {
    font-size: 16px;
    color: #555;
    max-width: 450px;
    margin-bottom: 30px;
}

.hero-img img {
    width: 320px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}
/*contact */
.contact h2{
    font-size: 20px;
    color:#4a00e0;
    /* Keep it on left side  */
    left: 30px;
    /* distance from bottom  */
    bottom: 50px;
    display: flex;
    flex-direction: column;
    /* links one below other */
    gap: 12px;
    margin-top: 3px;
    
}

/* Responsive */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-img img {
        margin-top: 40px;
        width: 250px;
    }

    nav {
        display: none;
    }
}